@font-face
{
font-family:'Source Sans Pro';
src:url('../fonts/SourceSansPro-Semibold.otf'); 
font-style: normal;
font-weight: normal;

}
@font-face
{
font-family:'SourceSansPro-Light';
src:url('../fonts/SourceSansPro-Light.otf'); 
font-style: normal;
font-weight: normal;

}

html{
	overflow-x: hidden;
	height: 100%;
}
html, body {
	height: 100% !important;
	min-height: 100% !important;
	font-size: 100%;
}
body{
	background-color: #f2f2f2;
}
.header{
	height:175px;
	width:1162px;
	display : table-cell;    
    vertical-align : middle;
    float:none;
}
.navigation{
	height:116px;
	background-color:#535252; 
}
.search-div {	
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 32px;    
}

.zero-padding{
	padding-left:0px;
	padding-right:0px;
}
/*Daniel Navigation*/

.mainContainer{
	max-width: 100%;
	min-height: 700px;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}
.logo{
	max-width: 100%;
	min-height: 175px;
	margin: 0;
	padding: 0;
}
img.center{
	margin: 0 auto;
}
img.spacing{
	padding-top: 30px;
}
.list-item{
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	padding: 0;
	padding-right: 4px;
	padding-top: 12px;
	margin: 0;
	font-size: 17px;
}
.inner{
	min-height: 116px;
	max-width: 235px;
	margin-left: 68px;
	margin-top: 0px;
}
.bg{
	background-color: #747472!important;
}

.inner-container{
	float: none;
	margin: 0 auto;
	min-height: 116px;
	max-width: 1000px;
}
.dropdown{
	min-height: 275px;
	max-width: 1162px;
	background-color: #747272;
	float: none;
}

.dropdown-header{
	color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  font-family: "Source Sans Pro",sans-serif;
  margin-top: 0px;
  margin-left: 7px;
  margin-bottom: 0px;
  border-bottom: 2px solid;
  display: inline-block;
  padding-bottom: 4px;
}
.form-control{
	border-radius: 0px;
	min-height:75px;
}
::-webkit-input-placeholder{

	font-family: 'Source Sans Pro', sans-serif;
	color: #ccc9ca!important;
	font-size: 22px;
	position: relative;
	font-style: italic;
	position: relative;
	bottom: 05px;
	right: 05px;
	min-height: 50px;
	font-weight: 400;
}

label.prefix{
	font-family: 'Source Sans Pro', sans-serif;
	color: #535252!important;
	font-size: 16px;
	position: relative;
	font-size: 22px;
	padding-left: 16px;
	padding-top: 14px;
	font-weight: 600;
}

div.wrapper input {
	border: 0 none;
	outline: none;
	min-height: 50px;
	width: 80%;
}
.errspan {
    float: right;
    margin-right: 16px;
    margin-top: 13px;
    position: relative;
    z-index: 2;
    color: #535252!important;
    font-size: 30px;
}

				/*Containers styling*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default, .navbar-nav>.open>a:hover {
				background-color: transparent;
			}
			.navbar-nav>.open>a:focus .danish {
				background-color: #747272;
			}
			.navbar-nav>.open>a:focus .danish #menu-cross {
				content:url("images/closemenu.png");
			}
			.navbar {
				min-height: 116px;
				max-width: 1162px;
				float: none;
				background-color: #535252;
				border-radius: 0px;
				margin-bottom: 19px;
			}
			.navi{
				margin-left: 50px;
			}
			.navi li{
				border: none;
				width: 250px;
				height: 100px;
			}	
			.ul li{
				border: none;
				height: auto;
			}
			.dropdown{
				min-height: 116px;
				max-width: 1162px;
				background-color: transparent;
				float: none;
			}
			.dropdown-menu {
				height: 275px;
				width: 1160px;
				border: none;
				border-radius: none;
				box-shadow: none;
				top: 116px;
				background-color: #747272;
				padding-top: 0;
			}				

.dark-container, .footer-container {
  background-color: #535252;
  max-width: 1162px; }

.small-container, .grey-small-container, .red-small-container {
  width: 275px;
  height: 275px; }

.large-container, .grey-large-container, .red-large-container {
  width: 571px;
  height: 571px; }

.searchContainer {
  width: 1162px;
  height: 60px;
  background-color: #FFF;
  border: 1px solid #eee; }

.grey-small-container {
  background-color: #D7D9D9;
  padding: 25px 20px 20px 19px;
  margin-bottom: 20px; }

.grey-large-container {
  background-color: #D7D9D9;
  padding: 25px 20px 20px 20px;
  margin-bottom: 20px; }

.red-large-container {
  background-color: #E24F42;
  padding: 25px 20px 20px 20px;
  margin-bottom: 20px; }

.red-small-container {
  background-color: #E24F42;
  padding: 25px 20px 20px 19px;
  margin-bottom: 20px; }

.audio-player-container {
  width: 571px;
  height: 275px;
  background-color: #E24F42;
  padding: 25px 20px 20px 20px; }

.footer-container {
  height: 75px;
  margin-bottom: 50px; }
					/*Containers styling*/
					
					/*Buttons styling*/					
					
.player-artist {
  font-size: 13px; }

.button {
  width: 240px;
  height: 50px;
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  margin-top: 37px;
  text-align: center;
  padding-left: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px; }

.arrow-setting {
  padding-right: 10px;
  font-size: 22px; }

.button-light {
  border: 1px solid #fff; }

.button-light:before {
  background: #fff; }

.button-light:hover, .button-light:focus, .button-light:active {
  color: #ab221f; }

.button-dark {
  color: #535252;
  border: 1px solid #535252; }

.button-dark:before {
  background: #535252; }

.button-dark:hover, .button-dark:focus, .button-dark:active {
  color: #fff; }

.button-transition {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.button-transition:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.button-transition:hover:before, .button-transition:focus:before, .button-transition:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.small-text {
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif; }

.large-text {
  font-size: 30px;
  font-family: 'SourceSansPro-Light'; }

.jp-audio p, .red-container p, .grey-container > .col-md-8 p, .rowColor p {
  margin-bottom: 0px; }

.jp-time {
  color: #b2270d;
  padding-top: 7px;
  padding-left: 4px;
  float: left; }

.jp-left-time {
  padding-right: 13px; }

.jp-seek-bar {
  background-color: #fff;
  width: 98% !important;
  height: 6px;
  cursor: pointer;
  margin-top: 5px; }

.jp-play {
  font-size: 55px; }

.play-rewind {
  width: 41px;
  height: 25px;
  background-image: url("../images/rewind.png");
  background-repeat: no-repeat;
  display: block;
  margin: 17px 0 0 128px; }

.play-rewind:hover {
  background-image: url("../images/rewindhover.png");
  cursor: pointer; }

.play-button {
  width: 43px;
  height: 50px;
  background-image: url("../images/play.png");
  background-repeat: no-repeat;
  display: block;
  margin: 5px 0px 0px 8px; }

.play-button:hover {
  background-image: url("../images/playhover.png");
  cursor: pointer; }

.pause-button {
  width: 43px;
  height: 50px;
  background-image: url("../images/pause.png");
  background-repeat: no-repeat;
  display: block;
  margin: 5px 0px 0px 10px; }

.pause-button:hover {
  background-image: url("../images/pausehover.png");
  cursor: pointer; }

.play-forward {
  width: 41px;
  height: 25px;
  background-image: url("../images/forward.png");
  background-repeat: no-repeat;
  display: block;
  margin: 17px 0 0 24px; }

.play-forward:hover {
  background-image: url("../images/forwardhover.png");
  cursor: pointer; }

.jp-state-playing #playBtn {
  display: none; }

.jp-audio #pauseBtn {
  display: none; }

.jp-state-playing #pauseBtn {
  display: block; }
					
					/*Buttons styling*/
					
.red-small-container a
{
	color: #F8DACD;
}				
					
					
					
					
					
					
					
					
					
					







.ul{
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 7px;	
}
.options{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #fff; 
  	padding-top: 23px;
}
.top-space-items{
	padding-top: 5px;
}
.top-space{
	padding-top: 10px;
}
.navigation-icons img{
	width: 57px;
	height: 77px;
}
.container-heading{
	font-size: 24px;
	font-family: "Source Sans Pro",sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 2px solid;
    display: inline-block;
	padding-bottom: 7px;
}
.dark-text {
	color: #535252;
	border-color: #949596;
}
.light-text {
	color: #fff;
	border-color: #f1b19b;
}
.grey-container {
	background-color: #d7d9d9;
}
.red-container {
	background-color: #e24f42;
}
.small-container {
	height: 275px; 
	width: 275px; 
	padding: 25px 20px 20px 19px;
	margin-bottom: 20px; 
}
.large-container {
	height: 571px; 
	width: 571px; 
	padding: 25px 20px 20px 20px;
	margin-bottom: 20px; 	
}
.audio-player {
	background-color: #e24f42;
	height: 275px;
	width: 571px;
	margin-right: 10px;
	padding: 25px 20px 20px 20px;
}
.player-artist {
	font-size: 13px;
}
.sub-heading {
	padding-top: 7px;
}
.content {
	padding-top: 24px;
	line-height: 1.33;
	color: #706e6e;
}
.light-grey-text{
	color: #F8DACD;
	padding: 20px 0px 0px 2px;
	line-height: 1.28;
	font-family: "SourceSansPro-Light";
	font-size: 18px;
}
.telephone a, .email a {
	margin-bottom: 0px;
	color: #706e6e;
	text-decoration: none;
}
.list-inline {
    margin-left: 0px;
}
.list-inline > li {
    display: inline-block;
	padding: 13px 19px 0px 1px;
}
.social-icon {
    color: #706e6e;
    background-color: #f4f4f4;
    border-radius: 2px;
    line-height: 49px;
    text-align: center;
    height: 49px;
    width: 49px;
    font-size: 21px;
}
.social-icon:hover,
.social-icon:focus {
    color: #535252 !important;
    background-color: #fff;
}
.event-icon {
	padding: 56px 0px 0px 52px;
}
.event-data {
	padding: 40px 0px 0px 0px;
	border-bottom: 2px solid #f1b19b;
	width: 393px;
	margin-left:15px;
	margin-bottom: 12px;
}
.event-data:last-child {
	border: 0px;
}
.event-heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	margin-bottom: 0px;
}
.event-date, .event-time {
	font-family:'SourceSansPro-Light';
	font-size: 22px;
	margin-bottom: 0px;
	line-height: 1.1;
}
.small-text{
	font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
}
.large-text{
	font-size: 30px;
	font-family:'SourceSansPro-Light';
}
.blockquote {
	font-size: 42px;
	color:#535252;
	font-family:'SourceSansPro-Light';
	line-height: 1.5;
	letter-spacing: -0.2px;
	margin-bottom: -6px;
	border-left: 0px;
	padding: 17px 15px 14px 0px;
}
.jp-audio p, .red-container p, .grey-container > .col-md-8 p, .rowColor p{
	margin-bottom: 0px;
}
.jp-time{
	color: #b2270d;
	padding-top: 7px;
	padding-left: 4px;
	float: left;
}
.jp-left-time{
	padding-right: 13px;
}
.jp-seek-bar{
	background-color: #fff;
	width: 98% !important;
	height: 6px;
	cursor: pointer;
	margin-top: 5px;
}
.jp-play{
	font-size: 55px;
}
.play-rewind{
	width: 41px;
	height: 25px;
	background-image: url("../images/rewind.png");
	background-repeat: no-repeat;
	display: block;
	margin: 17px 0 0 128px;
}
.play-rewind:hover{
	background-image: url("../images/rewindhover.png");
	cursor: pointer;
}
.play-button{
	width: 43px;
	height: 50px;
	background-image: url("../images/play.png");
	background-repeat: no-repeat;
	display: block;
	margin: 5px 0px 0px 8px;
}
.play-button:hover{
	background-image: url("../images/playhover.png");
	cursor: pointer;
}
.pause-button{
	width: 43px;
	height: 50px;
	background-image: url("../images/pause.png");
	background-repeat: no-repeat;
	display: block;
	margin: 5px 0px 0px 10px;
}
.pause-button:hover{
	background-image: url("../images/pausehover.png");
	cursor: pointer;
}
.play-forward{
	width: 41px;
	height: 25px;
	background-image: url("../images/forward.png");
	background-repeat: no-repeat;
	display: block;
	margin: 17px 0 0 24px;
}
.play-forward:hover{
	background-image: url("../images/forwardhover.png");
	cursor: pointer;
}
.jp-state-playing #playBtn{
	display: none;
}
.jp-audio #pauseBtn{
	display: none;
}
.jp-state-playing #pauseBtn{
	display: block;
}
.red-container a{
	color: #f8dacd;
	text-decoration: underline;
	margin-left: 2px;
	font-size: 17px;
}
.grey-container .col-md-12, .grey-container .col-md-4, .grey-container .col-md-8{
	padding: 0px;
}
.news-image img{
	padding-top: 23px;
}
.news-title{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	margin-bottom: 0px;
	padding: 13px 0px 0px 17px;
}
.news-date {
	padding: 0px 0px 0px 17px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #706e6e;
}
.news-content{
	line-height: 1.4;
	color: #706E6E;
	padding: 19px 0px 0px 17px;
	font-family: "Source Sans Pro",sans-serif;
}
.table {
	font-family: "Source Sans Pro",sans-serif;
	font-size: 16px;
	line-height: 50px !important;
	margin-top: 20px;
}
.table-row
{
	border-bottom: 1px solid #c6c8c8;	
}
.iconChat
{

  	background: url("../images/sendletter.png");
	background-repeat: no-repeat;
	padding-top: 26px;
	vertical-align: middle;
	margin-left: 10px;
    margin-top: 12px
}
.table-row:hover{
color: #333;
cursor:pointer;

}
.table-row:hover td p.iconChat{
color: #e24f42;
background: url("../images/sendletterhover.png");
background-repeat: no-repeat;
cursor:pointer;
}
.table-row:hover{
color: #e24f42;
cursor:pointer;
}
.table > tbody > tr > td{
	vertical-align: middle;
}
.table-condensed > tbody > tr > td{
	padding: 0px;
}
.table>tbody>tr>td
{
	border-top: none;
}
cite{
	font-size: 25px;
	color:#535252;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	font-style: normal;
}

footer{
	height:75px;
	width:1162px;
	background-color:#535252;
	margin-bottom:60px;
	color: #fff;
	line-height: 75px;
	font-family: "Source Sans Pro",sans-serif;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity ease-in-out 2s;
  -moz-transition-property: opacity ease-in-out 2s;
  -o-transition-property: opacity ease-in-out 2s;
  transition-property: opacity ; 
}
.carousel-fade .carousel-inner .active {
  opacity: 1!important;
}
.item1{
	width:275px;
	height:275px;
	display:block !important;
	background:url('../images/zappers2-uitje-knutselen.jpg');
	background-position:center;
	background-size:cover;	
}
.item2{
	width:275px;
	height:275px;
	display:block !important;
	background:url('../images/slide-154.jpg');
	background-position:center;
	background-size:cover;
}
.main{
	width:275px;
	height:275px;
	color:#fff;
	background:url('../images/slide-154.jpg');
	background-position:center;
	background-size:cover;
	}
.carousel{
	visibility: hidden; 
}
.main:hover>.carousel{ 
	visibility: visible;
	width:275px !important;
	height:100% !important;
	position:absolute;
}
.main1:hover>.carousel{ 
	visibility: visible;
	width:275px !important;
	height:100% !important;
	position:absolute;	
}
.main2:hover>.carousel{ 
	visibility: visible;
	width:275px !important;
	height:100% !important;
	position:absolute;	
}
.main3:hover>.carousel{ 
	visibility: visible;
	width:275px !important;
	height:100% !important;
	position:absolute;
}

.title{
	visibility:hidden;
	font-size: 14px !important;
	font-family: "Source Sans Pro", sans-serif;
}
.description{
	visibility:hidden;
	font-size: 24px !important;
	font-family: "Source Sans Pro", sans-serif;
}
.main:hover>.img-bottom-bar{
	width:275px;
	height:70px;
	padding:19px 20px;
	background-color:rgba(33,33,32,0.6);
	color: #fff;
	z-index: 10;
	position: absolute;
	bottom: 0px;
	line-height:8px;
}
.main1{
	width:275px;
	height:275px;
	color:#fff;
	background:url('../images/zappers2-uitje-knutselen.jpg');
	background-position:center center;
	background-size:cover;
	}
.main1:hover>.img-bottom-bar{
	width:275px;
	height:70px;
	padding:19px 20px;
	background-color:rgba(33,33,32, 0.6);
	color: #fff;
	z-index: 10;
	position: absolute;
	bottom: 0px;
	line-height:8px;
}
.main2{
	width:275px;
	height:275px;
	color:#fff;
	background:url('../images/Uitje-Giethoorn-Spaarndammerbuurt-3-834x1024.jpg');
	background-position:center center;
	background-size:cover;
	}
.main2:hover>.img-bottom-bar{
	width:275px;
	height:70px;
	padding:19px 20px;
	background-color:rgba(33,33,32, 0.6);
	color: #fff;
	z-index: 10;
	position: absolute;
	bottom: 0px;
	line-height:8px;
}
.main3{
	width:275px;
	height:275px;
	color:#fff;
	background:url('../images/pasen-01a.jpg');
	background-position:center center;
	background-size:cover;
}
.main3:hover>.img-bottom-bar{
	width:275px;
	height:70px;
	padding:19px 20px;
	background-color:rgba(33,33,32, 0.6);
	color: #fff;
	z-index: 10;
	position: absolute;
	bottom: 0px;
	line-height:8px;
}	

.main:hover>.img-bottom-bar>.title{
	visibility:visible;
	text-transform:uppercase;
	font-size:14px;
}
.main1:hover>.img-bottom-bar>.title{
	visibility:visible;
	text-transform:uppercase;
	font-size:14px;
}
.main2:hover>.img-bottom-bar>.title{
	visibility:visible;
	text-transform:uppercase;
	font-size:14px;
}
.main3:hover>.img-bottom-bar>.title{
	visibility:visible;
	text-transform:uppercase;
	font-size:14px;
}
.main:hover>.img-bottom-bar>.description{
	visibility:visible;
	text-transform:none;
	font-size:24px;
}
.main1:hover>.img-bottom-bar>.description{
	visibility:visible;
	text-transform:none;
	font-size:24px;
}
.main2:hover>.img-bottom-bar>.description{
	visibility:visible;
	text-transform:none;
	font-size:24px;
}
.main3:hover>.img-bottom-bar>.description{
	visibility:visible;
	text-transform:none;
	font-size:24px;
}

				/*Activities Page Styling*/
.breadcrumb
{
    padding: 0px;
    background-color: transparent;
	font-weight: bold;
	text-align: right;
	margin-top: 7px;
	margin-bottom: 13px;
}

.pull-right h1
{
	text-align: right;
	margin: 0px;
	margin-top: 22px;
}

.breadcrumb>li+li:before
{
    padding: 0 5px;
    color: #777;
    content: ">";
}

.filter
{
	padding-top: 63px;
    font-weight: bold;
    font-size: 19px;
    margin-left: -2px;
}

.custom-padding
{
	padding-left: 5px;
	padding-right: 0px;
}

.redz
{
    min-height: 275px;
    width: 275px;
}
/* Filter Op start*/
.filterOp{
	padding-left: 0;
}
.filterOp li{
	display: block;
	margin-bottom: 20px;
	min-height: 60px;
	background: #808080;
	color: white;
	text-align: center;
	padding-top: 20px;
	cursor: pointer;
}

.dropMenu {
	padding-left: 0;
}
.dropMenu li{
	display: block;
	margin-bottom: 20px;
	min-height: 60px;
	background: #D7D9D8;
	color: #494949;
	font-size: 17px;
	border: 2px solid grey;
	text-align: center;
	padding-top: 18px;
	font-weight: bold;
	cursor: pointer;
}
.underline{
	text-decoration: underline;
}
/* Filter Op end*/